{% extends "bootstrap/base.html" %}
{% import "_tool.html" as tool %}

{% block title %}易帮计算机毕业设计{% endblock %}

{% block head %}
{{ super() }}
<link rel="icon" href="{{ url_for("static",filename="favicon.ico")}}" type="image/x-icon"/>
<link rel="shortcut icon" href="{{ url_for("static",filename="favicon.ico")}}" type="image/x-icon">
<meta name="description" content="易帮计算机毕业设计网,提供完整的计算机毕业设计、
                计算机专业毕业设计、网站类毕业设计服务的网站,主要包括php,java,asp.net,安卓,ios,html5等成品,
                是大学毕业生不可或缺的学习资料参考专业网站。。">
{% endblock %}

{% block navbar %}
    <div class="container-fluid">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for("main.index") }}">
          <img alt="易帮计算机毕业设计" src="{{ url_for('static',filename='images/易帮32x32.png')}}">
      </a>
      <a class="navbar-brand" href="{{ url_for("main.index") }}">易帮计算机毕设</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/">首页</a></li>
          <li><a href="{{ url_for("products.find_products", product_language=1) }}">JAVA/JSP</a></li>
          <li><a href="{{ url_for("products.find_products", product_language=2) }}">C#/.NET</a></li>
          <li><a href="{{ url_for("products.custom") }}"><b class="text-danger">毕业设计订做</b></a></li>
          <li><a href="{{ url_for("products.find_products", product_language=4) }}">C语言</a></li>
          <li><a href="{{ url_for("products.find_products", product_language=3) }}">PHP</a></li>
          <li><a href="{{ url_for("products.find_products", product_language=5) }}">Python</a></li>
          <li><a href="{{ url_for("products.find_products", product_language=6) }}">其他</a></li>
          <li><a href="#">关于我们</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    </div>
{% endblock %}

{% block content %}
<div class="container">
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning" role="alert">{{ message }}</div>
{% endfor %}
{% block page_content %}{% endblock %}
</div>
{% endblock %}

<!--网站统计-->
{{ tool.page_statistics() }}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}


