{% extends "bootstrap/base.html" %}

{% block title %}易帮计算机毕业设计{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
    <div class="container">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
          <img alt="易帮计算机毕业设计" src="{{ url_for('static',filename='images/易帮32x32.png')}}">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <p class="navbar-text" style="font: bold">易帮计算机毕设</pi>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/">首页</a></li>
        <li><a href="#">JAVA/JSP</a></li>
          <li><a href="#">C#/.NET</a></li>
          <li><a href="{{ url_for("products.custom") }}" style="color: red;font: bold">毕业设计订做</a></li>
          <li><a href="#">C语言</a></li>
          <li><a href="#">PHP</a></li>
          <li><a href="#">Python</a></li>
          <li><a href="#">人工智能</a></li>
          <li><a href="#">关于我们</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    </div>
{% endblock %}

{% block content %}
<div class="container">
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning" role="alert">{{ message }}</div>
{% endfor %}
{% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}


