{% extends "base.html" %}

{% block content %}
    {% block page_header %}
    <div class="page-header">
        <h1 class="text-center"><strong>易帮计算机毕业设计订做服务</strong></h1>
    </div>
    {% endblock %}
    {% block page_content %}
    <div class="container">
        <div class="row">
            <div class="bg-info">
                <blockquote>
                    <h4 class="text-info">为什么要定做?定做的优势</h4>
                    <ol>
                        <li>从我们这边经验来说，凡是完成的毕设，高校老师都会在一定程度上要求修改，所以我们会一直<strong class="text-warning">帮助你通过为止</strong>。</li>
                        <li>一部分学生即使最后拿到毕设软件了也不会配置运行，那么我们网站上会有详细的讲解文章，最后如果还是不会运行，我们也会帮助你<strong class="text-warning">QQ远程控制解决</strong>。</li>
                        <li>订做的毕业设计是根据您的任务书和开题报告量身定制，保证毕业设计的唯一，<strong class="text-warning">绝不会有毕业设计“撞车”现象</strong></li>
                    </ol>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="bg-success">
                <blockquote>
                    <h4 class="text-success">我们的服务有什么保障？</h4>
                    <ol>
                        <li>我们保证毕业设计程序的可用性和完整性,<strong class="text-danger">通过是必须的</strong>，如遇到问题我们提供远程协助.</li>
                        <li>凡是在本站定做的毕业设计可以免费修改(修改范围仅限当初约定的范围内),可以辅导和讲解相关知识.</li>
                        <li>售后服务期限自作品完成日起至您<strong class="text-danger">毕业设计通过答辩为止</strong>.</li>
                    </ol>
                </blockquote>
            </div>
        </div>

        <div class="page-header">
            <h1 class="text-center"><strong>订做流程</strong></h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-3">
            <img src="{{ url_for("static",filename="images/custom_process.png")}}" width="600px">
            </div>
        </div>
        <div style="padding: 30px"></div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                <a target="_blank" class="btn btn-lg btn-success btn-block" href="http://wpa.qq.com/msgrd?v=3&uin=2031656370&site=qq&menu=yes">
                    开始订制
                </a>
                </div>
            </div>
        <div style="padding: 30px"></div>
    </div>
    {% endblock %}
{% endblock %}