{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <div style="padding: 60px">

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
            <div class="page-header" align="center">
                <h1>易帮计算机毕业设计—高质量计算机毕业设计服务</h1>
                <h1><small>Computer Graduation Design Profession Provider</small></h1>
                <div style="padding: 30px"></div>
            </div>
            <form method="post" action="{{ url_for("products.find_products") }}">
            <div class="form-group has-success has-feedback">
                <div class="input-group input-group-lg">
                    {{ form.name(class="form-control input-lg",placeholder="输入你想查找的毕业设计",id="search_name") }}
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?c5ff0147cb3f096dda0cc4c90b19dd81";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

{% endblock %}


