{% extends "base.html" %}

{% block title %} 计算机毕业设计代做-计算机毕业设计成品-易帮计算机毕业设计{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <meta name="keywords" content="计算机毕业设计订做,计算机毕业设计代做,计算机毕业设计成品,计算机毕业设计下载">
{% endblock %}
{% block content %}
    <div style="padding: 60px">

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
            <div class="page-header" align="center">
                <h1>易帮计算机毕业设计—高质量计算机毕业设计服务</h1>
                <h1><small>Computer Graduation Design Profession Provider</small></h1>
                <div style="padding: 30px"></div>
            </div>
            <form action="{{ url_for("products.find_products") }}">
            <div class="form-group has-success has-feedback">
                <div class="input-group input-group-lg">
                    <input class="form-control input-lg" placeholder="输入你想要查找的毕业设计" name="search_name">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}



