{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}
    {% block page_header %}
        <div class="container">
            <div class="col-md-4">
            <form action="find_products"">
                <div class="form-group form-inline has-feedback has-success">
                    <label class="control-label">项目名:</label>
                    <input class="form-control" type="text" name="search_name">
                </div>
                <div class="form-group form-inline has-success">
                    <label class="control-label">语言：</label>
                    <select class="form-control" name="language_id">
                        <option value="-1" checked>无限制</option>
                        <option value="1">JAVA</option>
                        <option value="2">C#</option>
                        <option value="3">PHP</option>
                        <option value="4">C</option>
                        <option value="5">Python</option>
                        <option value="6">其它</option>
                    </select>
                </div>
                <div class="form-group ">
                    <button type="submit" class="btn btn-success">搜索</button>
                    <button type="reset" class="btn btn-danger">重置</button>
                </div>
            </form>
            </div>
        </div>
        <div style="padding: 15px">

        </div>
    {% endblock %}

    {% block page_content %}
        <div class="container">
                {% for item in items %}
                    {% if loop.index0 % 3 == 0 %}
                        <div class="row">
                    {% endif %}
                <div class="col-md-4">
                    <a href = "{{ url_for("products.single_product",id = item.id) }}" class="thumbnail">
                        <img src="{{ item.imgs_path.split(";")[0] }}">
                    </a>
                    <h3>
                        <a href="{{ url_for("products.single_product",id = item.id) }}">{{ item.name }}</a>
                        {{ macros.language_label_widget(item.language) }}
                    </h3>
                    <p class="text-info" style="overflow: hidden; text-overflow:ellipsis;white-space:nowrap;">{{ item.description }}</p>
                </div>
                    {% if loop.index0 % 3 == 2 %}
                        </div>
                    {% endif %}
                {% endfor %}

        <!--分页-->
        <div class="col-md-offset-3">
            <div class="pagination" >
            {{ macros.pagination_widget(pagination,".find_products") }}
            </div>
        </div>

        </div>
    {% endblock %}
{% endblock %}
